html{
  width: 100%;
}

.topnav{
  position: fixed;
}
ul.topnav {
  position: fxed;
  top: 0%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  width: 100%;
}
.topnav-text {
  padding-left: 50px;
}

ul.topnav li,header img{
  float: left;
  border-radius: 8px;

}
li{
  font: 20px 'Lato', sans-serif;
}
ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 8px;
 
}

ul.topnav li a:hover:not(.active) {background-color: gray;}

ul.topnav li.right {
  background-color: #7F5A83;
  float: right;
  margin-right: 20px;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;
  margin-right: 0%;}
  header img { display: block;
  float: none ;}
  ul.topnav li {margin-top: 10px;
  overflow: hidden;}
  .test-container {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
  }
  .price, .row {
    display: ;
  }
  .topnav{
    position: relative;
  }
  .contain{
    width: 80% ;
  }
}
header img{
   height: 50px;
   margin-left: auto;
   margin-right: auto;
   margin-left: 
}

.active {
  background-color: black;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 25px;
  text-align: left;
  margin: 0 auto;
  width: 80%;
  padding-bottom:25px;
}

h2 {
  font-size: 30px;
  font-family: 'Mate SC', serif;
  margin-bottom: 0;
  padding-bottom: 30px;
  padding-left: 5rem;

}

h1 {
  font-family: 'Mate SC', serif;
  font-size: 50px;
  font-weight: 400px;
  padding: 0;
  padding-top:;;
  margin-bottom: 2rem;
  text-align: center;
}
#intro-page {
  background-color: #DEC1FF;
  padding-bottom: 20px;
  padding-top: 50px;
  text-align: center;
  margin: 0px;

}
#project-page {
  background-color: #7F5A83;
  padding-top: 50px;
  color: white;
}

#intro-text {
  margin: auto;
  text-align: left;
  padding-top: 7rem;
}

.image{
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#laundrix-div{
  margin: 0 auto;
}

span {
  text-decoration: underline;
  font-weight: 900;
}
body {
  min-height:100%;
  margin: 0 auto;
  overflow-x: hidden;
}

section {
  height: 700px;
}

svg {
  padding: 2em;
}
a {
  text-decoration:none;
  color: #000000;
}

button {
  padding: 1rem;
  background: black;
  border: none;
  border-top: 3px solid #7F5A83;
  border-radius: 0 0 0.2em 0.2em;
  color: #fff;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 1em;
  transform-origin: 50% 5em;
  cursor: pointer;
}

button {
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

