body {
    min-height:100%;
    margin: 0 auto;
    overflow-x: hidden;
}
  

ul.topnav {
    position: fxed;
    top: 0%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    width: 100%;
}
  .topnav-text {
    padding-left: 50px;
}
  
ul.topnav li,header img{
    float: left;
    border-radius: 8px;
  
}
  
ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 8px;
   
}
  
ul.topnav li a:hover:not(.active) {background-color: gray;}
  
ul.topnav li.right {
    background-color: #7F5A83;
    float: right;
    margin-right: 20px;
}
  
@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;
    margin-right: 0%;}
    header img { display: block;
    float: none ;}
    ul.topnav li {margin-top: 10px;
    overflow: hidden;}
    .test-container {
      width: 100%;
      display: flex;
      margin-bottom: 20px;
    }
    .price, .row {
      display: ;
    }
}
header img{
     height: 50px;
     margin-left: auto;
     margin-right: auto;
     margin-left: 
}
  
.active {
    background-color: black;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    padding-bottom:25px;
}
  
h2 {
    font-size: 30px;
    font-family: 'Mate SC', serif;
    margin-bottom: 0;
    padding-bottom: 30px;
 
}
  
h1 {
    font-family: 'Mate SC', serif;
    font-size: 50px;
    font-weight: 400px;
    padding: 0;
    padding-top:;
    padding-left: 5rem;
    margin-bottom: 2rem;
}
#project-page {
    background-color: #DEC1FF;
    padding-top: 50px;
    color: white;
    margin: auto auto;
    width: 100%;
}

.project {
    text-align: center;
 
}
.mock-up{
    padding-bottom: 6rem;
}

.laundrix-div{
    background-color: #7F5A83;
}

  
@media screen and (max-width: 600px){
    .mock-up img{
        width: 80%;
    } 
}
li{
    font: 20px 'Lato', sans-serif;
}
svg {
    padding-right: 10px;
  }
  
  a {
    text-decoration:none;
    color: #000000;
  }
  .copyright h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 0%;
    margin: 0%;
  }
  
  #bottom{
    background-color: #000000;
    text-align: center;
    padding: 15px;
  }
  @media screen and (max-width: 600px){
    div.icons{
       padding-left:  0px;
    }
  }
  
  div.icons{
  text-align: center;
  padding-bottom: 3rem;
  }